html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  /* background-color: cadetblue; */
  background-color: #444;
}

h1 {
  height: 100vh;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  /* font-size: 2.5em; */
  /* font-size: 50px; */
  font-family: sans-serif;
  /* text-shadow: 0 0 20px black; */
  text-shadow: 0 0 20px purple;
}

h2,
h3,
h4,
h5,
h6,
p,
ol,

ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* MenuIcon > CSS Selector */
.my-menu-icon {
  width: 35px;
  height: 5px;
  background-color: green;
  margin: 6px 0; /* generate distance between each bar */
}

/* MenuIconAnimated > CSS Selector */
.my-menu-icon-container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  /* background-color: #333; */
  background-color: pink;
  margin: 6px 0;
  transition: 0.4s;
}

#ani-bar {
  width: 35px;
  height: 5px;
  background-color: pink;
  margin: 6px 0;
  /* put transform in the CSS property */
  /* put transition in this property */
  transform: rotate(0deg);
  transition: transform 400ms ease-in;
}

#ani-bar.slideIn {
  transform: rotate(-45deg);
}

#ani-bar.slideOut {
  transform: rotate(0deg);
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

#hamburger-container {
  /* position: fixed; */
  /* top: 50%; */
  /* left: 50%; */
  display: flex; /* setup flex container */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* TODO: exp with div sizing */
  height: 300px;
  /* DEBUG */
  outline-style: dashed;
  outline-color: blue;
}

/* buns */
#bun {
  /* width: 35px; */
  /* height: 5px; */
  /* margin: 6px 0; */
  /* background-color: #333; */
  background-color: brown;
  transform: rotate(0deg);
  transition: transform 400ms ease-in;
  cursor: pointer;
  /* exp */
  text-align:center;
  width: 30vh;
  height: 5vh;
  margin-top: 4vh;
  /* display:inline-block; */
  border-radius: 2.5vh;
  /* position:relative; */
  /* position: absolute; */
}


/* TOOD: make `#bun-top` inheret all props from `#bun` */
#bun-top {
  /* width: 35px; */
  /* height: 5px; */
  /* margin: 6px 0; */
  /* background-color: #333; */
  background-color: brown;
  transform: rotate(0deg);
  transition: transform 400ms ease-in;
  cursor: pointer;
  /* exp */
  text-align:center;
  width: 30vh;
  height: 5vh;
  margin-top: 4vh;
  /* display:inline-block; */
  border-radius: 2.5vh;
  /* position:relative; */
  /* position: absolute; */
}

#bun-top:hover {
  background-color: green;
}

#bun-top.show-top {
  transform: rotate(-45deg);
}

/* #bun.show-top:hover { */
/*   background-color: green; */
/* } */

#bun.show-bottom {
  transform: rotate(45deg);
}

#bun.animate {
  transform: rotate(0deg);
}
